.logBox, .popup, text {
    dominant-baseline: middle;
    /*font-family: "Times New Roman", Times, serif;*/
	font-family: "Montserrat";
    /*fill: black; /*VERY MUCH A HACK - would be nice if this would fill in the same color as the actual outline - not sure how to do though. maybe not a hack since maybe we don't want to color text at all?*/
}

.logContainer {
    max-width: 30%;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logMenu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}


.logTextArea {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0.2rem 0 0.4rem 0;
    padding: 0.2rem 0.1rem 0 0.2rem;
    background: var(--background-tertiary);
    border-radius: 0.2rem;
}

.scrollButton {
    position: absolute;
    z-index: 15;
    bottom: 2.95rem;
    right: 0.85rem;
}

.logOverview {
    display: flex;
    margin-left: 0.25rem;
    padding: 0.4375rem;
    border-radius: 0.2rem;

    background: var(--accent-secondary);
}

.logCategory {
    min-width: 60px;
    flex: 25%;
    margin: auto;
    text-align: center;

    /*border: var(--content-primary);*/
    border-radius: 2px;

    cursor: default;
}

.logCategoryNumber {
    
}

.logEntry {
    min-width: 250px;
    border-radius: 0.2rem;
    background: var(--background-secondary);
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0;
}

.logEntryIcon {
    top: 0.2rem;
    left: 0.2rem;
}

.iconInfo {
    color: black;
}

.iconWarning {
    color: #ffe900;
}

.iconError {
    color: #dc3545;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
