html body {
    background-color: var(--background-primary);
    color: var(--content-primary);
    
    width: auto;
    height: 1000px;
}

.themeSwitcher {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
}

.darkModeButton {
    background: white;
    border-color: white;
    position: absolute;
    right: 0;   
    z-index: 1;
}

text.text-C {
    text-anchor: middle;
}

text.text-L {
    text-anchor: start;
}

text.text-R {
    text-anchor: end;
}

.comp {
    stroke-width: 8;
    stroke: var(--default-stroke);
    fill: none;
}

.sensor-letter {
    font-size: 100px;
    stroke-width: 4;
    fill: var(--default-stroke);
}

.static-color {
    stroke: var(--default-stroke);
    fill: var(--default-stroke);
}

.note-line {
    stroke-width: 6;
    stroke: var(--pnid-outline);
    stroke-dasharray: 25,50
}

.wire {
    stroke-width: 8;
    stroke: var(--default-stroke); /*default color, will be overridden by --high and --low by code*/
}

.value, .reference {
    font-size: 70px;
    stroke-width: 4;
    fill: var(--default-stroke);
}

.PnID-Tank .rect {
    stroke-width: 0;
}

[data-pnid-wire=high] {
	stroke: var(--high);
}

[data-pnid-wire=low] {
	stroke: var(--low);
}

[data-pnid-valve_pneumatic=open] {
    stroke: var(--open);
    fill: none;
}
[data-pnid-valve_pneumatic=open] text:not(.static-color) {
    stroke: var(--open);
    fill: var(--open);
}

[data-pnid-valve_pneumatic=closed] path {
    stroke: var(--default-stroke);
    fill: var(--closed)
}

[data-pnid-valve_pneumatic=closed] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed)
}

[data-pnid-valve_pneumatic=undefined] {
    stroke: var(--undefined);
}

[data-pnid-valve_servo=open],[data-pnid-valve_needle_servo=open] {
    stroke: var(--open);
    fill: none;
}
[data-pnid-valve_servo=open] text:not(.static-color),[data-pnid-valve_needle_servo=open] text:not(.static-color) {
    stroke: var(--open);
    fill: var(--open);
}

[data-pnid-valve_servo=closed] path,[data-pnid-valve_needle_servo=closed] path {
    stroke: var(--default-stroke);
    fill: var(--closed);
}

[data-pnid-valve_servo=closed] text:not(.static-color),[data-pnid-valve_needle_servo=closed] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed);
}

[data-pnid-valve_servo=throttle] path:nth-of-type(3),[data-pnid-valve_needle_servo=throttle] path:nth-of-type(3) {
    stroke: var(--default-stroke);
    fill: var(--closed);
}


[data-pnid-valve_servo=throttle] text:not(.static-color),[data-pnid-valve_needle_servo=throttle] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed);
}

[data-pnid-sensor_pressure=high] {
    stroke: var(--high);
}
[data-pnid-sensor_pressure=high] text:not(.static-color) {
    stroke: var(--high);
    fill: var(--high);
}

[data-pnid-sensor_pressure=low] {
    stroke: var(--low);
}
[data-pnid-sensor_pressure=low] text:not(.static-color) {
    stroke: var(--low);
    fill: var(--low);
}

[data-pnid-sensor_pressure=neutral] {
    stroke: var(--neutral);
}
[data-pnid-sensor_pressure=neutral] text:not(.static-color) {
    stroke: var(--neutral);
    fill: var(--neutral);
}

[data-pnid-sensor_temperature=high] {
    stroke: var(--high);
}
[data-pnid-sensor_temperature=high] text:not(.static-color) {
    stroke: var(--high);
    fill: var(--high);
}

[data-pnid-sensor_temperature=low] {
    stroke: var(--low);
}
[data-pnid-sensor_temperature=low] text:not(.static-color) {
    stroke: var(--low);
    fill: var(--low);
}

[data-pnid-sensor_temperature=neutral] {
    stroke: var(--neutral);
}
[data-pnid-sensor_temperature=neutral] text:not(.static-color) {
    stroke: var(--neutral);
    fill: var(--neutral);
}

[data-pnid-sensor_massflow=high] {
    stroke: var(--high);
}
[data-pnid-sensor_massflow=high] text:not(.static-color) {
    stroke: var(--high);
    fill: var(--high);
}

[data-pnid-sensor_massflow=low] {
    stroke: var(--low);
}
[data-pnid-sensor_massflow=low] text:not(.static-color) {
    stroke: var(--low);
    fill: var(--low);
}

[data-pnid-sensor_massflow=neutral] {
    stroke: var(--neutral);
}
[data-pnid-sensor_massflow=neutral] text:not(.static-color) {
    stroke: var(--neutral);
    fill: var(--neutral);
}

[data-pnid-valve_solenoid_no=open], [data-pnid-valve_solenoid_nc=open] {
    stroke: var(--open);
    fill: none;
}
[data-pnid-valve_solenoid_no=open] text:not(.static-color), [data-pnid-valve_solenoid_nc=open] text:not(.static-color) {
    stroke: var(--open);
    fill: var(--open);
}

[data-pnid-valve_solenoid_no=closed] path, [data-pnid-valve_solenoid_nc=closed] path {
    stroke: var(--default-stroke);
    fill: var(--closed);
}

[data-pnid-valve_solenoid_no=closed] text:not(.static-color), [data-pnid-valve_solenoid_nc=closed] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed);
}

[data-pnid-valve_solenoid_no=undefined], [data-pnid-valve_solenoid_nc=undefined] {
    stroke: var(--undefined);
}

[data-pnid-valve_overpressure=open] {
    stroke: var(--open);
}

[data-pnid-valve_overpressure=closed] {
    stroke: var(--closed);
}

[data-pnid-valve_overpressure=undefined] {
    stroke: var(--undefined);
}

[data-pnid-tank_content=fuel] {
    fill: var(--fuel);
}

[data-pnid-tank_content=ox] {
    fill: var(--ox);
}
