:root {
    --pnid-max-width: initial;
    --pnid-max-height: calc(100%);
}

html body {
    background-color: var(--background-primary);
    color: var(--content-primary);
    
    width: auto;
    height: 1000px;
}

.themeSwitcher {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    z-index: 10;
}

.darkModeButton {
    background: white;
    border-color: white;
    position: absolute;
    right: 0;   
    z-index: 1;
}

.text-C {
    text-anchor: middle;
}

.text-L {
    text-anchor: start;
}

.text-R {
    text-anchor: end;
}

.hitbox {
    stroke-width:  4;
    stroke: var(--debug);
}

.comp {
    stroke-width: 8;
    stroke: var(--default-stroke);
    fill: none;
}

.sensor-letter {
    font-size: 100px;
    stroke-width: 4;
    fill: var(--default-stroke);
}

.static-color {
    stroke: var(--default-stroke);
    fill: var(--default-stroke);
}

.note-line {
    stroke-width: 6;
    stroke: var(--pnid-outline);
    stroke-dasharray: 25,50
}

.wire, .wire[data-pnid-wire=empty] {
    stroke-width: 8;
    stroke: var(--default-stroke); /*default color, will be overridden by --high and --low by code*/
    fill: none;
}

.value, .reference {
    font-size: 8.5rem;
    stroke-width: 1;
    fill: var(--default-stroke);
}

.PnID-Tank .rect {
    stroke-width: 0;
}

.wire[data-pnid-wire=high] {
	stroke: var(--high);
}

.wire[data-pnid-wire=mid] {
	stroke: var(--mid);
}

.wire[data-pnid-wire=low] {
	stroke: var(--low);
}

.wire[data-pnid-wire=fuel] {
	stroke: var(--fuel);
}

.wire[data-pnid-wire=ox] {
	stroke: var(--ox);
}

[data-pnid-valve_pneumatic=open], [data-pnid-valve_servo=open],[data-pnid-valve_needle_servo=open] {
    stroke: var(--open);
    fill: none;
}
[data-pnid-valve_pneumatic=open] text:not(.static-color), [data-pnid-valve_servo=open] text:not(.static-color), [data-pnid-valve_needle_servo=open] text:not(.static-color), [data-pnid-valve_servo_3way=position_a] text:not(.static-color), [data-pnid-valve_servo_3way=position_b] text:not(.static-color) {
    stroke: var(--open);
    fill: var(--open);
}

[data-pnid-valve_pneumatic=closed] path, [data-pnid-valve_servo=closed] path,[data-pnid-valve_needle_servo=closed] path {
    stroke: var(--default-stroke);
    fill: var(--closed);
}

[data-pnid-valve_pneumatic=closed] text:not(.static-color), [data-pnid-valve_servo=closed] text:not(.static-color),[data-pnid-valve_needle_servo=closed] text:not(.static-color), [data-pnid-valve_servo_3way=closed] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed);
}

[data-pnid-valve_pneumatic=throttle] path:nth-of-type(3), [data-pnid-valve_servo=throttle] path:nth-of-type(3), [data-pnid-valve_needle_servo=throttle] path:nth-of-type(3) {
    stroke: var(--default-stroke);
    fill: var(--closed);
}


[data-pnid-valve_pneumatic=throttle] text:not(.static-color), [data-pnid-valve_servo=throttle] text:not(.static-color), [data-pnid-valve_needle_servo=throttle] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed);
}

[data-pnid-valve_pneumatic=feedback_deviation_error] path, [data-pnid-valve_servo=feedback_deviation_error] path, [data-pnid-valve_needle_servo=feedback_deviation_error] path {
    stroke: var(--error-color);
    fill: none;
}

[data-pnid-valve_servo_3way=closed] path {
    stroke: var(--default-stroke);
    fill: var(--closed);
}
[data-pnid-valve_servo_3way=position_a] path:nth-of-type(2), [data-pnid-valve_servo_3way=position_b] path:nth-of-type(4), [data-pnid-valve_servo_3way=position_a] path:nth-of-type(3), [data-pnid-valve_servo_3way=position_b] path:nth-of-type(3) {
    stroke: var(--open);
    fill: none;
}
[data-pnid-valve_servo_3way=position_a] path:nth-of-type(4), [data-pnid-valve_servo_3way=position_b] path:nth-of-type(2) {
    stroke: var(--default-stroke);
    fill: var(--closed);
}
[data-pnid-valve_servo_3way=feedback_deviation_error] path {
    stroke: var(--error-color);
    fill: none;
}

[data-pnid-sensor_pressure=fuel] {
    stroke: var(--fuel);
}
[data-pnid-sensor_pressure=fuel] text:not(.static-color) {
    stroke: var(--fuel);
    fill: var(--fuel);
}

[data-pnid-sensor_pressure=ox] {
    stroke: var(--ox);
}
[data-pnid-sensor_pressure=ox] text:not(.static-color) {
    stroke: var(--ox);
    fill: var(--ox);
}

[data-pnid-sensor_pressure=high] {
    stroke: var(--high);
}
[data-pnid-sensor_pressure=high] text:not(.static-color) {
    stroke: var(--high);
    fill: var(--high);
}

[data-pnid-sensor_pressure=low] {
    stroke: var(--low);
}
[data-pnid-sensor_pressure=low] text:not(.static-color) {
    stroke: var(--low);
    fill: var(--low);
}

[data-pnid-sensor_pressure=notconnected] {
    stroke: var(--default-stroke);
}
[data-pnid-sensor_pressure=notconnected] text:not(.static-color) {
    stroke: var(--default-stroke);
    fill: var(--default-stroke);
}

[data-pnid-sensor_pressure=neutral] {
    stroke: var(--neutral);
}
[data-pnid-sensor_pressure=neutral] text:not(.static-color) {
    stroke: var(--neutral);
    fill: var(--neutral);
}


[data-pnid-sensor_temperature=high] {
    stroke: var(--high);
}
[data-pnid-water_tank=high] text:not(.static-color) {
    stroke: var(--high-water-tank);
    fill: var(--high-water-tank);
}
[data-pnid-sensor_temperature=high] text:not(.static-color), [data-pnid-water_tank=high] rect:nth-of-type(2) {
    stroke: var(--high);
    fill: var(--high);
}



[data-pnid-sensor_temperature=mid] {
    stroke: var(--mid);
}
[data-pnid-water_tank=mid] text:not(.static-color) {
    stroke: var(--mid-water-tank);
    fill: var(--mid-water-tank);
}
[data-pnid-sensor_temperature=mid] text:not(.static-color), [data-pnid-water_tank=mid] rect:nth-of-type(2) {
    stroke: var(--mid);
    fill: var(--mid);
}


[data-pnid-sensor_temperature=low] {
    stroke: var(--low);
}
[data-pnid-water_tank=low] text:not(.static-color) {
    stroke: var(--low-water-tank);
    fill: var(--low-water-tank);
}
[data-pnid-sensor_temperature=low] text:not(.static-color), [data-pnid-water_tank=low] rect:nth-of-type(2) {
    stroke: var(--low);
    fill: var(--low);
}


[data-pnid-sensor_temperature=neutral] {
    stroke: var(--neutral);
}
[data-pnid-water_tank=neutral] text:not(.static-color) {
    stroke: var(--neutral-water-tank);
    fill: var(--neutral-water-tank);
}
[data-pnid-sensor_temperature=neutral] text:not(.static-color), [data-pnid-water_tank=neutral] rect:nth-of-type(2) {
    stroke: var(--neutral);
    fill: var(--neutral);
}


[data-pnid-sensor_temperature=notconnected] {
    stroke: var(--default-stroke);
}
[data-pnid-water_tank=notconnected] text:not(.static-color) {
    stroke: var(--default-stroke);
    fill: var(--default-stroke);
}
[data-pnid-sensor_temperature=notconnected] text:not(.static-color) {
    stroke: var(--default-stroke);
    fill: var(--default-stroke);
}
[data-pnid-water_tank=notconnected] rect:nth-of-type(2) {
    stroke: var(--default-stroke);
    fill: none;
}


[data-pnid-heatexchanger=high] {
    stroke: var(--high);
}
[data-pnid-heatexchanger=mid] {
    stroke: var(--mid);
}
[data-pnid-heatexchanger=low] {
    stroke: var(--low);
}
[data-pnid-heatexchanger=neutral] {
    stroke: var(--neutral);
}
[data-pnid-heatexchanger=notconnected] {
    stroke: var(--default-stroke);
}



[data-pnid-thermalbarrier=low] {
    stroke: var(--low);
}
[data-pnid-thermalbarrier=low] text:not(.static-color) {
    stroke: var(--low);
    fill: var(--low);
}
[data-pnid-thermalbarrier=high] {
    stroke: var(--high);
}
[data-pnid-thermalbarrier=high] text:not(.static-color) {
    stroke: var(--high);
    fill: var(--high);
}
[data-pnid-thermalbarrier=ox] {
    stroke: var(--ox);
}
[data-pnid-thermalbarrier=ox] text:not(.static-color) {
    stroke: var(--ox);
    fill: var(--ox);
}
[data-pnid-thermalbarrier=fuel] {
    stroke: var(--fuel);
}
[data-pnid-thermalbarrier=fuel] text:not(.static-color) {
    stroke: var(--fuel);
    fill: var(--fuel);
}

[data-pnid-sensor_massflow=high] {
    stroke: var(--high);
}
[data-pnid-sensor_massflow=high] text:not(.static-color) {
    stroke: var(--high);
    fill: var(--high);
}

[data-pnid-sensor_massflow=low] {
    stroke: var(--low);
}
[data-pnid-sensor_massflow=low] text:not(.static-color) {
    stroke: var(--low);
    fill: var(--low);
}

[data-pnid-sensor_massflow=neutral] {
    stroke: var(--neutral);
}
[data-pnid-sensor_massflow=neutral] text:not(.static-color) {
    stroke: var(--neutral);
    fill: var(--neutral);
}

[data-pnid-valve_solenoid_no=open], [data-pnid-valve_solenoid_nc=open] {
    stroke: var(--open);
    fill: none;
}
[data-pnid-valve_solenoid_no=open] text:not(.static-color), [data-pnid-valve_solenoid_nc=open] text:not(.static-color) {
    stroke: var(--open);
    fill: var(--open);
}
[data-pnid-valve_solenoid_no=feedback_deviation_error], [data-pnid-valve_solenoid_nc=feedback_deviation_error] {
    stroke: var(--error-color);
    fill: none;
}
[data-pnid-valve_solenoid_no=feedback_deviation_error] text:not(.static-color), [data-pnid-valve_solenoid_nc=feedback_deviation_error] text:not(.static-color) {
    stroke: var(--error-color);
    fill: var(--error-color);
}

[data-pnid-valve_solenoid_no=closed] path, [data-pnid-valve_solenoid_nc=closed] path {
    stroke: var(--default-stroke);
    fill: var(--closed);
}

[data-pnid-valve_solenoid_no=closed] text:not(.static-color), [data-pnid-valve_solenoid_nc=closed] text:not(.static-color) {
    stroke: var(--closed);
    fill: var(--closed);
}

[data-pnid-valve_solenoid_no=closed] rect, [data-pnid-valve_solenoid_nc=open] rect {
    fill: var(--powered);
}
[data-pnid-valve_solenoid_no=open] rect, [data-pnid-valve_solenoid_nc=closed] rect {
    fill: none;
}

[data-pnid-valve_solenoid_no=undefined], [data-pnid-valve_solenoid_nc=undefined] {
    stroke: var(--undefined);
}

[data-pnid-valve_overpressure=open] {
    stroke: var(--open);
}

[data-pnid-valve_overpressure=closed] {
    stroke: var(--closed);
}

[data-pnid-valve_overpressure=undefined] {
    stroke: var(--undefined);
}

[data-pnid-tank_content=fuel] {
    fill: var(--fuel);
}

[data-pnid-tank_content=ox] {
    fill: var(--ox);
}

[data-pnid-led=on] {
    fill: var(--on);
}

[data-pnid-led=off] {
    fill: none;
}

/*TODO the pump stuff is still WIP, right now they don't properly support fluid content colors and the styling isn't quite done yet*/
[data-pnid-pump=on] path:nth-of-type(1), [data-pnid-pump=on] path:nth-of-type(2) {
    stroke: var(--on);
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

[data-pnid-pump=feedback_deviation_error] circle, [data-pnid-pump=feedback_deviation_error] path {
    stroke: var(--error-color);
}

[data-pnid-pump=on] circle:nth-of-type(1) {
    fill: var(--high);
}
[data-pnid-pump=on] circle:nth-of-type(2) {
    fill: var(--background-primary); /*this sucks but I don't see any easier way to do this in a general way. I can't use fill-rule as those only work on paths that can intersect themselves (circles can't do that) and converting these circles into a compound path isn't an easy and straightforward thing to do (generalized that is). Still, I hate it.*/
}

[data-pnid-pump=off] {

}

[data-pnid-igniter=on] {
    stroke: var(--on);
    fill: var(--powered);
}
[data-pnid-igniter=on] text:not(.static-color) {
    stroke: var(--on);
    fill: var(--on);
}
[data-pnid-igniter=feedback_deviation_error] {
    stroke: var(--error-color);
    fill: none;
}
[data-pnid-igniter=feedback_deviation_error] text:not(.static-color) {
    stroke: var(--error-color);
    fill: var(--error-color);
}

[data-pnid-igniter=off] path, [data-pnid-igniter=off] rect {
    stroke: var(--default-stroke);
    fill: none;
}

[data-pnid-valve_solenoid_no=off] text:not(.static-color) {
    stroke: var(--default-stroke);
    fill: var(--default-stroke);
}

[data-pnid-powersource=nominal] {
    stroke: var(--neutral);
    fill: none;
}
[data-pnid-powersource=nominal] text:not(.static-color) {
    stroke: var(--neutral);
    fill: var(--neutral);
}

[data-pnid-powersource=outside_range] path, [data-pnid-powersource=outside_range] rect {
    stroke: var(--error-color);
    fill: none;
}

[data-pnid-powersource=outside_range] text:not(.static-color) {
    stroke: var(--error-color);
    fill: var(--error-color);
}
