.popup-heading {
	font-weight: bold;
}

.popup-value-out {
    margin-top: .7rem;
}

.popup {
	display: none;
	position: absolute;
	
	color: var(--content-primary);
	background-color: var(--background-secondary);
	border-radius: 0.2rem;
	padding: 0.8rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-style: solid;
	border-color: var(--content-secondary);
	border-width: 0.1rem;

	
	resize: both;
	overflow: auto;
}

.btn-close
{
	padding: 0 !important;
	width: 1.5rem;
	height: 1.5rem;
	float: right;
}

.btn-drag
{
	padding: 0 !important;
	width: 1.5rem;
	height: 1.5rem;
	float: left;
}

@-webkit-keyframes highlight {
	from {box-shadow: 0 0 10px 5px cornflowerblue;} 
	to {box-shadow: 0 0 0 0;}
}

/* The animation code */
@keyframes highlight {
	from {box-shadow: 0 0 10px 5px cornflowerblue;} 
	to {box-shadow: 0 0 0 0;}
  }

.popup iframe
{
	border: none;
	width: 100%;
	height: auto;
}

.popup .externalContainer
{
    width: 100%;
    height: calc(100% - 3.7rem);
}
